#header{
    background-color: aqua;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#logo{
    padding-left: 45px;
}
#menu-wrapper{
    display: flex;
    justify-content: space-around;
    min-width: 300px;
}
.menu-item{
color: black;
font-weight: 400;
background-color: greenyellow;
border-radius: 10px;
padding: 3px 20px;
}
.menu-item:hover{
background-color: darkgreen;
}
#main-content{
    background-color: blueviolet;
}
#footer{
    background-color: chartreuse;
}